<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contrato">
      <h2 data-cy="contratoDetailsHeading"><span>Contrato</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contrato.id }}</span>
        </dd>
        <dt><span>Fecha Alta</span></dt>
        <dd>
          <span>{{ contrato.fechaAlta | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Particularidades</span></dt>
        <dd>
          <span>{{ contrato.particularidades }}</span>
        </dd>
        <dt><span>Plan</span></dt>
        <dd>
          <div *ngIf="contrato.plan">
            <a [routerLink]="['/plan', contrato.plan?.id, 'view']">{{ contrato.plan?.id }}</a>
          </div>
        </dd>
        <dt><span>Cliente</span></dt>
        <dd>
          <div *ngIf="contrato.cliente">
            <a [routerLink]="['/cliente', contrato.cliente?.id, 'view']">{{ contrato.cliente?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/contrato', contrato.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
