<div>
  <h2 id="page-heading" data-cy="DespachoHeading">
    <span jhiTranslate="ssoc22App.despacho.home.title">Despachos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssoc22App.despacho.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-despacho"
        [routerLink]="['/despacho/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssoc22App.despacho.home.createLabel"> Create a new Despacho </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="despachos?.length === 0">
    <span jhiTranslate="ssoc22App.despacho.home.notFound">No despachos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="despachos && despachos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.despacho.equipo">Equipo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let despacho of despachos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/despacho', despacho.id, 'view']">{{ despacho.id }}</a>
          </td>
          <td>
            <div *ngIf="despacho.equipo">
              <a [routerLink]="['/equipo', despacho.equipo?.id, 'view']">{{ despacho.equipo?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/despacho', despacho.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/despacho', despacho.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(despacho)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
