<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 data-cy="clienteDetailsHeading"><span>Cliente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ cliente.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ cliente.nombre }}</span>
        </dd>
        <dt><span>Socio</span></dt>
        <dd>
          <span>{{ cliente.socio }}</span>
        </dd>
        <dt><span>Suministro</span></dt>
        <dd>
          <span>{{ cliente.suministro }}</span>
        </dd>
        <dt><span>Dni</span></dt>
        <dd>
          <span>{{ cliente.dni }}</span>
        </dd>
        <dt><span>En Padron</span></dt>
        <dd>
          <div *ngIf="cliente.enPadron">
            <a [routerLink]="['/cliente', cliente.enPadron?.id, 'view']">{{ cliente.enPadron?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
