<div>
  <h2 id="page-heading" data-cy="SubscripcionHeading">
    <span jhiTranslate="ssoc22App.subscripcion.home.title">Subscripcions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssoc22App.subscripcion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subscripcion"
        [routerLink]="['/subscripcion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssoc22App.subscripcion.home.createLabel"> Create a new Subscripcion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subscripcions?.length === 0">
    <span jhiTranslate="ssoc22App.subscripcion.home.notFound">No subscripcions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subscripcions && subscripcions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.subscripcion.fechaAlta">Fecha Alta</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.subscripcion.particularidades">Particularidades</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.subscripcion.plan">Plan</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.subscripcion.cliente">Cliente</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscripcion of subscripcions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subscripcion', subscripcion.id, 'view']">{{ subscripcion.id }}</a>
          </td>
          <td>{{ subscripcion.fechaAlta | formatMediumDate }}</td>
          <td>{{ subscripcion.particularidades }}</td>
          <td>
            <div *ngIf="subscripcion.plan">
              <a [routerLink]="['/plan', subscripcion.plan?.id, 'view']">{{ subscripcion.plan?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="subscripcion.cliente">
              <a [routerLink]="['/cliente', subscripcion.cliente?.id, 'view']">{{ subscripcion.cliente?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subscripcion', subscripcion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subscripcion', subscripcion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subscripcion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
