<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tarifa">
      <h2 data-cy="tarifaDetailsHeading"><span jhiTranslate="ssoc22App.tarifa.detail.title">Tarifa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tarifa.id }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.tipo">Tipo</span></dt>
        <dd>
          <span>{{ tarifa.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.datos">Datos</span></dt>
        <dd>
          <span>{{ tarifa.datos }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.precio">Precio</span></dt>
        <dd>
          <span>{{ tarifa.precio }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.vigenciaDesde">Vigencia Desde</span></dt>
        <dd>
          <span>{{ tarifa.vigenciaDesde | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.vigenciaHasta">Vigencia Hasta</span></dt>
        <dd>
          <span>{{ tarifa.vigenciaHasta | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.tarifa.plan">Plan</span></dt>
        <dd>
          <div *ngIf="tarifa.plan">
            <a [routerLink]="['/plan', tarifa.plan?.id, 'view']">{{ tarifa.plan?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tarifa', tarifa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
