<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prestacion-heading" data-cy="PrestacionCreateUpdateHeading" jhiTranslate="ssoc22App.prestacion.home.createOrEditLabel">
        Create or edit a Prestacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.prestacion.tipo" for="field_tipo">Tipo</label>
          <input type="text" class="form-control" name="tipo" id="field_tipo" data-cy="tipo" formControlName="tipo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.prestacion.precio" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.prestacion.diasCarencia" for="field_diasCarencia">Dias Carencia</label>
          <input
            type="number"
            class="form-control"
            name="diasCarencia"
            id="field_diasCarencia"
            data-cy="diasCarencia"
            formControlName="diasCarencia"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.prestacion.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.prestacion.codigo" for="field_codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
        </div>

        <div class="form-group">
          <label jhiTranslate="ssoc22App.prestacion.insumo" for="field_insumos">Insumo</label>
          <select class="form-control" id="field_insumos" data-cy="insumo" multiple name="insumos" formControlName="insumos">
            <option
              [ngValue]="getSelectedInsumo(insumoOption, editForm.get('insumos')!.value)"
              *ngFor="let insumoOption of insumosSharedCollection; trackBy: trackInsumoById"
            >
              {{ insumoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
