<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-despacho-heading" data-cy="DespachoCreateUpdateHeading" jhiTranslate="ssoc22App.despacho.home.createOrEditLabel">
        Create or edit a Despacho
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.despacho.equipo" for="field_equipo">Equipo</label>
          <select class="form-control" id="field_equipo" data-cy="equipo" name="equipo" formControlName="equipo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="equipoOption.id === editForm.get('equipo')!.value?.id ? editForm.get('equipo')!.value : equipoOption"
              *ngFor="let equipoOption of equiposSharedCollection; trackBy: trackEquipoById"
            >
              {{ equipoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
