<div>
  <h2 id="page-heading" data-cy="ReglaPrestacionHeading">
    <span jhiTranslate="ssoc22App.reglaPrestacion.home.title">Regla Prestacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssoc22App.reglaPrestacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-regla-prestacion"
        [routerLink]="['/regla-prestacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssoc22App.reglaPrestacion.home.createLabel"> Create a new Regla Prestacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reglaPrestacions?.length === 0">
    <span jhiTranslate="ssoc22App.reglaPrestacion.home.notFound">No reglaPrestacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reglaPrestacions && reglaPrestacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.reglaPrestacion.prestacion">Prestacion</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.reglaPrestacion.plan">Plan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reglaPrestacion of reglaPrestacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/regla-prestacion', reglaPrestacion.id, 'view']">{{ reglaPrestacion.id }}</a>
          </td>
          <td>
            <div *ngIf="reglaPrestacion.prestacion">
              <a [routerLink]="['/prestacion', reglaPrestacion.prestacion?.id, 'view']">{{ reglaPrestacion.prestacion?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reglaPrestacion.plan">
              <a [routerLink]="['/plan', reglaPrestacion.plan?.id, 'view']">{{ reglaPrestacion.plan?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/regla-prestacion', reglaPrestacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/regla-prestacion', reglaPrestacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reglaPrestacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
