<div>
  <h2 id="page-heading" data-cy="SolicitudPrestacionHeading">
    <span jhiTranslate="ssoc22App.solicitudPrestacion.home.title">Solicitud Prestacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ssoc22App.solicitudPrestacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-solicitud-prestacion"
        [routerLink]="['/solicitud-prestacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ssoc22App.solicitudPrestacion.home.createLabel"> Create a new Solicitud Prestacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="solicitudPrestacions?.length === 0">
    <span jhiTranslate="ssoc22App.solicitudPrestacion.home.notFound">No solicitudPrestacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="solicitudPrestacions && solicitudPrestacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.numero">Numero</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.horaSolicitud">Hora Solicitud</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.domicilio">Domicilio</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.telefono">Telefono</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.edad">Edad</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.observaciones">Observaciones</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.tipo">Tipo</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.despacho">Despacho</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.itemNomenclador">Item Nomenclador</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.insumo">Insumo</span></th>
          <th scope="col"><span jhiTranslate="ssoc22App.solicitudPrestacion.individuo">Individuo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitudPrestacion of solicitudPrestacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/solicitud-prestacion', solicitudPrestacion.id, 'view']">{{ solicitudPrestacion.id }}</a>
          </td>
          <td>{{ solicitudPrestacion.fecha | formatMediumDatetime }}</td>
          <td>{{ solicitudPrestacion.numero }}</td>
          <td>{{ solicitudPrestacion.horaSolicitud | formatMediumDatetime }}</td>
          <td>{{ solicitudPrestacion.domicilio }}</td>
          <td>{{ solicitudPrestacion.telefono }}</td>
          <td>{{ solicitudPrestacion.edad }}</td>
          <td>{{ solicitudPrestacion.observaciones }}</td>
          <td>{{ solicitudPrestacion.tipo }}</td>
          <td>
            <div *ngIf="solicitudPrestacion.despacho">
              <a [routerLink]="['/despacho', solicitudPrestacion.despacho?.id, 'view']">{{ solicitudPrestacion.despacho?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="solicitudPrestacion.itemNomenclador">
              <a [routerLink]="['/item-nomenclador', solicitudPrestacion.itemNomenclador?.id, 'view']">{{
                solicitudPrestacion.itemNomenclador?.id
              }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let insumo of solicitudPrestacion.insumos; let last = last">
              <a class="form-control-static" [routerLink]="['/insumo', insumo.id, 'view']">{{ insumo.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="solicitudPrestacion.individuo">
              <a [routerLink]="['/individuo', solicitudPrestacion.individuo?.id, 'view']">{{ solicitudPrestacion.individuo?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/solicitud-prestacion', solicitudPrestacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/solicitud-prestacion', solicitudPrestacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(solicitudPrestacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
