<div>
  <h2 id="page-heading" data-cy="ItemFacturaHeading">
    <span>Item Facturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-factura"
        [routerLink]="['/item-factura/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Item Factura </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itemFacturas?.length === 0">
    <span>No itemFacturas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="itemFacturas && itemFacturas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Cliente</span></th>
          <th scope="col"><span>Factura</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemFactura of itemFacturas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/item-factura', itemFactura.id, 'view']">{{ itemFactura.id }}</a>
          </td>
          <td>
            <div *ngIf="itemFactura.cliente">
              <a [routerLink]="['/cliente', itemFactura.cliente?.id, 'view']">{{ itemFactura.cliente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="itemFactura.factura">
              <a [routerLink]="['/factura', itemFactura.factura?.id, 'view']">{{ itemFactura.factura?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/item-factura', itemFactura.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/item-factura', itemFactura.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(itemFactura)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
