<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-provision-heading" data-cy="ProvisionCreateUpdateHeading" jhiTranslate="ssoc22App.provision.home.createOrEditLabel">
        Create or edit a Provision
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.provision.itemNomenclador" for="field_itemNomenclador"
            >Item Nomenclador</label
          >
          <select
            class="form-control"
            id="field_itemNomenclador"
            data-cy="itemNomenclador"
            name="itemNomenclador"
            formControlName="itemNomenclador"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                itemNomencladorOption.id === editForm.get('itemNomenclador')!.value?.id
                  ? editForm.get('itemNomenclador')!.value
                  : itemNomencladorOption
              "
              *ngFor="let itemNomencladorOption of itemNomencladorsSharedCollection; trackBy: trackItemNomencladorById"
            >
              {{ itemNomencladorOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.provision.prestacion" for="field_prestacion">Prestacion</label>
          <select class="form-control" id="field_prestacion" data-cy="prestacion" name="prestacion" formControlName="prestacion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                prestacionOption.id === editForm.get('prestacion')!.value?.id ? editForm.get('prestacion')!.value : prestacionOption
              "
              *ngFor="let prestacionOption of prestacionsSharedCollection; trackBy: trackPrestacionById"
            >
              {{ prestacionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="ssoc22App.provision.insumo" for="field_insumos">Insumo</label>
          <select class="form-control" id="field_insumos" data-cy="insumo" multiple name="insumos" formControlName="insumos">
            <option
              [ngValue]="getSelectedInsumo(insumoOption, editForm.get('insumos')!.value)"
              *ngFor="let insumoOption of insumosSharedCollection; trackBy: trackInsumoById"
            >
              {{ insumoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.provision.plan" for="field_plan">Plan</label>
          <select class="form-control" id="field_plan" data-cy="plan" name="plan" formControlName="plan">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="planOption.id === editForm.get('plan')!.value?.id ? editForm.get('plan')!.value : planOption"
              *ngFor="let planOption of plansSharedCollection; trackBy: trackPlanById"
            >
              {{ planOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
