<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="prestador">
      <h2 data-cy="prestadorDetailsHeading"><span jhiTranslate="ssoc22App.prestador.detail.title">Prestador</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ prestador.id }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.prestador.nombre">Nombre</span></dt>
        <dd>
          <span>{{ prestador.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.prestador.condicion">Condicion</span></dt>
        <dd>
          <span>{{ prestador.condicion }}</span>
        </dd>
        <dt><span jhiTranslate="ssoc22App.prestador.itemNomenclador">Item Nomenclador</span></dt>
        <dd>
          <span *ngFor="let itemNomenclador of prestador.itemNomencladors; let last = last">
            <a [routerLink]="['/item-nomenclador', itemNomenclador?.id, 'view']">{{ itemNomenclador.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/prestador', prestador.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
