<div class="row">
  <div class="col-md-3">
    <span class="img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Servicios Sociales</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

    <!-- *** TEST *** -->
    <br />

    <!--
    <div class="col-md-12 m-2">
      <button routerLink="/pantalla/telefono" type="button" class="btn btn-secondary">
        <fa-icon icon="phone"></fa-icon> Telefonista / Bonos
      </button>
    </div>
    <div class="col-md-12 m-2">
      <button routerLink="/pantalla/plan-alta" type="button" class="btn btn-secondary"><fa-icon icon="list"></fa-icon> Planes</button>
    </div>
-->
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <a class="btn btn-secondary" href="/swagger-ui/index.html#/item-propio-resource/migrarFacturaIndividualDeWin">
        Migrar factura individual de Win
      </a>
    </div>
    <!--
    <br />
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [style]="{ width: testClicks * 4 + '%' }"
        [class.bg-info]="testClicks == 0"
        [class.bg-primary]="testClicks > 0 && testClicks < 5"
        [class.bg-warning]="testClicks >= 5 && testClicks < 10"
        [class.bg-danger]="testClicks >= 10"
      ></div>
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [style]="{ width: testClicks * 4 + '%' }"
        [class.bg-info]="testClicks == 0"
        [class.bg-primary]="testClicks > 0 && testClicks < 5"
        [class.bg-warning]="testClicks >= 5 && testClicks < 10"
        [class.bg-danger]="testClicks >= 10"
      ></div>
    </div>

    <br />
    <button
      type="button"
      class="btn"
      [class.btn-info]="testClicks == 0"
      [class.btn-primary]="testClicks > 0 && testClicks < 5"
      [class.btn-warning]="testClicks >= 5 && testClicks < 10"
      [class.btn-danger]="testClicks >= 10"
      (click)="testClick()"
    >
      Ejemplo <span class="badge badge-light">{{ testClicks }}</span>
    </button>

    <br /><br />
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item font-weight-bold bg-light">
            Servicios posibles.
            <small>Puede saltar un modal con detalles (descuentos, límites, etc.) al agregar.</small>
          </li>
          <li *ngFor="let t of testUnselected" class="list-group-item">
            {{ t.nombre }}
            <button type="button" class="btn btn-primary float-right" (click)="testSelect(t)"><fa-icon icon="plus"></fa-icon></button>
            <button
              type="button"
              placement="top"
              ngbTooltip="Agregar con condiciones (dto. parcial, límites, etc.)"
              [openDelay]="300"
              tooltipClass="customTooltip"
              class="btn btn-outline-primary float-right mr-1"
              (click)="testSelect(t)"
            >
              <fa-icon icon="folder-plus"></fa-icon>
            </button>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item font-weight-bold bg-light">Servicios en el plan.</li>
          <li *ngFor="let t of testSelected" class="list-group-item">
            {{ t.nombre }}
            <button type="button" class="btn btn-secondary float-right" (click)="testUnselect(t)"><fa-icon icon="minus"></fa-icon></button>
          </li>
        </ul>
      </div>

      <div class="col-md-12 m-2">
        <button type="button" class="btn btn-primary"><fa-icon icon="user-clock"></fa-icon> Carencia</button>
      </div>
      <div class="col-md-12 m-2">
        <button type="button" class="btn btn-primary"><fa-icon icon="calendar-times"></fa-icon> Límite por período</button>
      </div>
      <div class="col-md-12 m-2">
        <button type="button" class="btn btn-primary"><fa-icon icon="coins"></fa-icon> Descuento</button>
      </div>
    </div>-->

    <br /><br />
  </div>
</div>
