<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-adhesion-heading" data-cy="AdhesionCreateUpdateHeading">Create or edit a Adhesion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fechaAlta">Fecha Alta</label>
          <div class="d-flex">
            <input
              id="field_fechaAlta"
              data-cy="fechaAlta"
              type="datetime-local"
              class="form-control"
              name="fechaAlta"
              formControlName="fechaAlta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_condicion">Condicion</label>
          <input type="text" class="form-control" name="condicion" id="field_condicion" data-cy="condicion" formControlName="condicion" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_individuo">Individuo</label>
          <select class="form-control" id="field_individuo" data-cy="individuo" name="individuo" formControlName="individuo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="individuoOption.id === editForm.get('individuo')!.value?.id ? editForm.get('individuo')!.value : individuoOption"
              *ngFor="let individuoOption of individuosSharedCollection; trackBy: trackIndividuoById"
            >
              {{ individuoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
