<div class="row justify-content-center p-4">
  <div class="col-8">
    <h2 id="jhi-solicitud-prestacion-heading" [class.text-secondary]="tipo == 'Emergencia'">Emitir bono</h2>

    <div class="pt-3">
      <!--<jhi-alert-error></jhi-alert-error>-->

      <div class="mb-2">
        <label class="" for="form-socio">Socio</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control w-25"
            placeholder="Nº"
            [disabled]="deshabilitarNumeroSocio"
            [(ngModel)]="numeroSocioSeleccionado"
            (change)="selectNumeroSocio($event)"
          />

          <input
            id="typeahead-http"
            type="text"
            class="form-control w-50"
            [class.is-invalid]="searchFailed"
            [disabled]="deshabilitarNombreSocio"
            [(ngModel)]="clienteSeleccionado"
            [ngbTypeahead]="search"
            placeholder="{{ tipoCliente === 'Socio' ? 'Buscar por nombre' : 'Nombre' }}"
            [resultFormatter]="resultFormatter"
            [inputFormatter]="inputFormatter"
            (selectItem)="selectNombreSocio($event)"
            [ngModelOptions]="{ standalone: true }"
            required
          />
          <!--<small *ngIf="searching" class="form-text text-muted">Buscando...</small>-->
          <div class="invalid-feedback" *ngIf="searchFailed">No se pudieron cargar las sugerencias.</div>
        </div>
        <small class="form-text text-danger">{{ errorCliente }}</small>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_individuo">Paciente</label>
        <select
          class="form-control"
          id="field_individuo"
          data-cy="individuo"
          name="individuo"
          required
          [ngModel]="adhesionSeleccionada"
          (ngModelChange)="selectIndividuo($event)"
        >
          <option [ngValue]="null"></option>
          <option [ngValue]="adhesionOption" *ngFor="let adhesionOption of adhesionesDeCliente; trackBy: trackAdhesionById">
            {{ adhesionOption.individuo!.nombre }}
          </option>
        </select>
      </div>

      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="form-group">
          <label class="form-control-label" for="field_itemNomenclador">Práctica</label>
          <select
            class="form-control"
            id="field_itemNomenclador"
            data-cy="itemNomenclador"
            name="itemNomenclador"
            formControlName="itemNomenclador"
            (ngModelChange)="selectItemNomenclador($event)"
            required
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                itemNomencladorOption.id === editForm.get('itemNomenclador')!.value?.id
                  ? editForm.get('itemNomenclador')!.value
                  : itemNomencladorOption
              "
              *ngFor="let itemNomencladorOption of itemNomencladorsSharedCollection; trackBy: trackItemNomencladorById"
            >
              {{ itemNomencladorOption.nombre }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_precioReal">Precio</label>
          <input
            readonly
            type="number"
            class="form-control"
            name="precioReal"
            id="field_precioReal"
            data-cy="precioReal"
            formControlName="precioReal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.prestador" for="field_prestador">Prestador</label>
          <select class="form-control" id="field_prestador" data-cy="prestador" name="prestador" formControlName="prestador">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="prestadorOption.id === editForm.get('prestador')!.value?.id ? editForm.get('prestador')!.value : prestadorOption"
              *ngFor="let prestadorOption of prestadorsSharedCollection; trackBy: trackPrestadorById"
            >
              {{ prestadorOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.observaciones" for="field_observaciones"
            >Observaciones</label
          >
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>

        <!--
          <div class="form-group">
            <label jhiTranslate="ssoc22App.solicitudPrestacion.insumo" for="field_insumos">Insumo</label>
            <select class="form-control" id="field_insumos" data-cy="insumo" multiple name="insumos" formControlName="insumos">
              <option
                [ngValue]="getSelectedInsumo(insumoOption, editForm.get('insumos')!.value)"
                *ngFor="let insumoOption of insumosSharedCollection; trackBy: trackInsumoById"
              >
                {{ insumoOption.id }}
              </option>
            </select>
          </div>
          -->

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
