<div class="row justify-content-center p-4">
  <div class="col-8">
    <h2 id="jhi-solicitud-prestacion-heading" [class.text-secondary]="tipo == 'Emergencia'">Emitir bono</h2>

    <div class="pt-3">
      <jhi-alert-error></jhi-alert-error>

      <div>
        <label class="" for="form-socio">Socio</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control w-25"
            placeholder="Nº"
            [disabled]="deshabilitarNumeroSocio"
            [(ngModel)]="numeroSocioSeleccionado"
            (change)="selectNumeroSocio($event)"
          />

          <input
            id="typeahead-http"
            type="text"
            class="form-control w-50"
            [class.is-invalid]="searchFailed"
            [disabled]="deshabilitarNombreSocio"
            [(ngModel)]="clienteSeleccionado"
            [ngbTypeahead]="search"
            placeholder="{{ tipoCliente === 'Socio' ? 'Buscar por nombre' : 'Nombre' }}"
            [resultFormatter]="resultFormatter"
            [inputFormatter]="inputFormatter"
            (selectItem)="selectNombreSocio($event)"
            [ngModelOptions]="{ standalone: true }"
          />
          <!--<small *ngIf="searching" class="form-text text-muted">Buscando...</small>-->
          <div class="invalid-feedback" *ngIf="searchFailed">No se pudieron cargar las sugerencias.</div>

          {{ clienteSeleccionado | json }}
        </div>
      </div>

      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <!--
          <div class="form-group">
            <label class="form-control-label" for="typeahead-http">Paciente</label>
            <input
              id="typeahead-http"
              type="text"
              class="form-control"
              [class.is-invalid]="searchFailed"
              [(ngModel)]="nombreIndividuoSeleccionado"
              [ngbTypeahead]="search"
              placeholder="Buscar por nombre"
              [resultFormatter]="resultFormatter"
              [inputFormatter]="inputFormatter"
              (selectItem)="selectItem($event)"
              [ngModelOptions]="{standalone: true}"
            />
            
            <small *ngIf="searching" class="form-text text-muted">Buscando...</small>
            <div class="invalid-feedback" *ngIf="searchFailed">No se pudieron cargar las sugerencias.</div>
          </div>

          {{ individuoSeleccionado | json }}
          -->
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.domicilio" for="field_domicilio">Domicilio</label>
          <input type="text" class="form-control" name="domicilio" id="field_domicilio" data-cy="domicilio" formControlName="domicilio" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.telefono" for="field_telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.edad" for="field_edad">Edad</label>
          <input type="number" class="form-control" name="edad" id="field_edad" data-cy="edad" formControlName="edad" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_motivoLlamado">Motivo del llamado</label>
          <input
            type="text"
            class="form-control"
            name="motivoLlamado"
            id="field_motivoLlamado"
            data-cy="motivoLlamado"
            formControlName="motivoLlamado"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.observaciones" for="field_observaciones"
            >Observaciones</label
          >
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>

        <!-- Sólo para bonos -->
        <!--
          <div class="form-group">
            <label class="form-control-label" jhiTranslate="ssoc22App.solicitudPrestacion.itemNomenclador" for="field_itemNomenclador"
              >Item Nomenclador</label
            >
            <select
              class="form-control"
              id="field_itemNomenclador"
              data-cy="itemNomenclador"
              name="itemNomenclador"
              formControlName="itemNomenclador"
            >
              <option [ngValue]="null"></option>
              <option
                [ngValue]="
                  itemNomencladorOption.id === editForm.get('itemNomenclador')!.value?.id
                    ? editForm.get('itemNomenclador')!.value
                    : itemNomencladorOption
                "
                *ngFor="let itemNomencladorOption of itemNomencladorsSharedCollection; trackBy: trackItemNomencladorById"
              >
                {{ itemNomencladorOption.id }}
              </option>
            </select>
          </div>
          -->

        <!--
          <div class="form-group">
            <label jhiTranslate="ssoc22App.solicitudPrestacion.insumo" for="field_insumos">Insumo</label>
            <select class="form-control" id="field_insumos" data-cy="insumo" multiple name="insumos" formControlName="insumos">
              <option
                [ngValue]="getSelectedInsumo(insumoOption, editForm.get('insumos')!.value)"
                *ngFor="let insumoOption of insumosSharedCollection; trackBy: trackInsumoById"
              >
                {{ insumoOption.id }}
              </option>
            </select>
          </div>
          -->

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
